<mz-collection>
  <mz-collection-item [avatar]="true">
   <i mz-avatar mz-icon-mdi [icon]="'twitter'" class="blue lighten-1"></i>
    <div class="title">Title 1</div>
    <div>First Line</div>
    <div>Second Line</div>
    <a mz-secondary-content href="#!"><i mz-icon-mdi [icon]="'star'"></i></a>
  </mz-collection-item>
  <mz-collection-item [avatar]="true">
    <i mz-avatar mz-icon-mdi [icon]="'facebook'" class="indigo"></i>
    <div class="title">Title 2</div>
    <div>First Line</div>
    <div>Second Line</div>
    <a mz-secondary-content href="#!"><i mz-icon-mdi [icon]="'star'"></i></a>
  </mz-collection-item>
</mz-collection>