<div class="row">
  <div class="col s12">
    <mz-card backgroundClass="white" textClass="black-text">
      <mz-card-content>
        <app-news></app-news>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="col s6">
    <mz-card backgroundClass="white" textClass="black-text">
      <mz-card-content>
        <app-calendar></app-calendar>
      </mz-card-content>
    </mz-card>
  </div>
  <div class="col s6">
    <mz-card backgroundClass="white" textClass="black-text">
      <mz-card-content>
        <app-jobs></app-jobs>
      </mz-card-content>
    </mz-card>
  </div>
</div>
