<div class="row">
  <div class="col s12">
    <mz-card backgroundClass="white" textClass="black-text">
      <mz-card-content>
        News Module
      </mz-card-content>
    </mz-card>
  </div>
  <div class="col s6">
    <mz-card backgroundClass="white" textClass="black-text">
      <mz-card-content>
        Calendar Module
      </mz-card-content>
    </mz-card>
  </div>
  <div class="col s6">
    <mz-card backgroundClass="white" textClass="black-text">
      <mz-card-content>
        Jobs Module
      </mz-card-content>
    </mz-card>
  </div>
</div>
